<div class="col-md-12" *ngIf="!childEdit">
    <div class="card card-light">
        <div class="card-header">
            <h3 class="card-title">
                <i class="zmdi zmdi-edit"></i>{{resourceId ? "Atualizar" : "Incluir"}} {{resource | translate}}
            </h3>
        </div>

        <div class="card-block">
            <form [formGroup]="mainForm" class="form-horizontal">
                <input type="hidden" formControlName="id">

                <ng-container *ngFor="let field of formViewSchema.fields">
                    <ng-container [dynamicField]="field" [group]="mainForm"></ng-container>
                </ng-container>

                <div class="form-group">
                    <div class="col-md-10 col-md-offset-2">
                        <ng-content></ng-content>
                        <button class="btn btn-raised btn-primary" (click)="save(mainForm.value)" [disabled]="mainForm.invalid">SAVE</button>
                        <button class="btn btn-raised btn-default" (click)="goBack()">BACK</button>
                        <button class="btn btn-raised btn-danger" (click)="delete()">DELETE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div *ngIf="resourceId && formViewSchema.references">
        <div class="card card-light" *ngFor="let reference of formViewSchema.references" >
            <div class="card-header">
                <h3 class="card-title">
                    <i class="zmdi zmdi-edit"></i>{{reference.resource.toUpperCase() | translate}}
                </h3>
            </div>
            <div class="card-block">
                <reference-many [referenceSchema]="reference" [resource]="resource" [targetId]="resourceId" (onEdit)="childEdit = $event"></reference-many>
            </div>
        </div>
    </div>

    <!--TODO: Remover Informações de Depuração-->
    <strong>form.value:</strong> {{mainForm.value | json}}
</div>

<edit *ngIf="childEdit"
      [resource]="childEdit.referenceSchema.resource"
      [resourceId]="childEdit.resourceId"
      [target]="childEdit.referenceSchema.target"
      [targetId]="resourceId"
      [formViewSchema]="childEdit.referenceSchema.formView">
    <button (click)="childEdit = null">VOLTAR2</button>
</edit>






