<nz-card
    [nzTitle]="(resourceId ? 'Atualizar ' : 'Incluir ') + (resource.toUpperCase() | translate)"
    [nzBordered]="false"
    [nzExtra]="mainActions">

    <dynamicForm
        #main
        [schema]="schema"
        [(resourceId)]="resourceId"
        (close)="goBack()">
    </dynamicForm>
</nz-card>

<ng-template #mainActions>
    <nz-button-group>
        <button nz-button nzType="primary" (click)="main.save().subscribe()"><i nz-icon type="save"></i> Save</button>
        <button nz-button nzType="default" (click)="goBack()"><i nz-icon type="close"></i> Cancel</button>
        <button nz-button nzType="danger" (click)="main.delete()" [disabled]="!resourceId"><i nz-icon type="delete"></i> Delete</button>

        <nz-dropdown *ngIf="main.actions.length">
            <button nz-button nz-dropdown><span> Actions </span> <i nz-icon type="down"></i></button>
            <ul nz-menu>
                <li nz-menu-item *ngFor="let action of main.actions" (click)="action.execute()" [nzDisabled]="!action.isEnabled()">
                    {{action.label | translate}}
                </li>
            </ul>
        </nz-dropdown>
    </nz-button-group>
    <!--<ng-container *ngFor="let action of main.actions">
        <button nz-button nzType="default" (click)="action.execute()" [disabled]="!action.isEnabled()">
            {{action.label | translate}}
        </button>
    </ng-container>-->
</ng-template>

<ng-container *ngIf="resourceId && formViewSchema.references">
    <ng-container *ngFor="let reference of formViewSchema.references">
        <reference-many
            [schema]="reference"
            [resource]="resource"
            [targetId]="resourceId"
            style="display: block; margin-top: 25px">
        </reference-many>
    </ng-container>
</ng-container>

<!--<nz-drawer
    [nzTitle]="(childEdit?.resourceId ? 'Atualizar ' : 'Incluir ') + (childEdit?.schema.resource | translate)"
    [nzWidth]="750"
    [nzVisible]="childEdit"
    (nzOnClose)="childEdit = null">

    <ng-container *ngIf="childEdit">
        <dynamicForm
            #child
            [schema]="childEdit.schema"
            [resourceId]="childEdit.resourceId"
            [targetId]="resourceId"
            (close)="childEdit = null">
        </dynamicForm>

        <div class="footer">
            <button nz-button nzType="default" (click)="childEdit = null"><i nz-icon type="close"></i> Cancel</button>
            <button nz-button nzType="primary" (click)="child.save()"><i nz-icon type="save"></i> Save</button>
        </div>
    </ng-container>
</nz-drawer>-->



