<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <h3>Editar Objetivo</h3>
        </div>
    </div>
    <div class="panel-body">
        <!--<handle-errors [errors]="errors"></handle-errors>-->

        <form #form="ngForm" (ngSubmit)="save(form.value)">
            <input type="hidden" name="id" [ngModel]="objetivo.id">

            <div class="form-group">
                <label>Nome:</label>
                <input type="text" name="nome" [ngModel]="objetivo.nome" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Descrição:</label>
                <input type="text" name="descricao" [ngModel]="objetivo.descricao" class="form-control" required>
            </div>

            <div class="form-group">
                <label>Descrição Meta:</label>
                <input type="text" name="descricaoMeta" [ngModel]="objetivo.descricaoMeta" class="form-control" #inpu2="ngModel">
            </div>

            <div class="form-group">
                <label>Valor Meta:</label>
                <input type="number" step="0.01" name="valorMeta" [ngModel]="objetivo.valorMeta" class="form-control">
            </div>

            <div class="form-group">
                <label>Percentual Meta: </label>
                <input type="number" step="0.01" name="percentualMeta" [ngModel]="objetivo.percentualMeta" class="form-control">
            </div>

            <!--<div class="form-group">
                <label>Categoria:</label>
                <select ngModelGroup="categoriaObjetivo" name="id" ngModel="{{objetivo.categoriaObjetivo?.id}}" class="form-control" required>
                    <option value=""> -&#45;&#45; Selecione -&#45;&#45;</option>
                    <option *ngFor="let item of categorias" [value]="item.id">
                        {{item.nome}}
                    </option>
                </select>
            </div>-->

            <div class="form-group">
                <label>Unidade:</label>
                <select ngModelGroup="unidadeOrganizacional" name="id" ngModel="{{objetivo.unidadeOrganizacional?.id}}" class="form-control" required>
                    <option value=""> --- Selecione ---</option>
                    <option *ngFor="let item of unidades" [value]="item.id">
                        {{item.nome}}
                    </option>
                </select>
            </div>

            <div class="form-group" ngModelGroup="detalhes1" >
                <span>CATEGORIA1</span>
                <div class="form-group">
                    <label>Nome do Detalhe:</label>
                    <input type="text" name="descricao" [ngModel]="objetivo?.categoriaObjetivo?.nome" class="form-control">
                </div>

                <div class="form-group">
                    <label>Descrição do Detalhe:</label>
                    <input type="text" name="descricaoMeta" [ngModel]="objetivo?.categoriaObjetivo?.descricao" class="form-control">
                </div>
            </div>

            <div class="form-group">
                <objetivo-detail name="categoriaObjetivo2" [ngModel]="objetivo.categoriaObjetivo"></objetivo-detail>
            </div>

            <div class="form-group">
                <categoria-objetivo-edit name="categoriaObjetivo3" [form]="form" [model]="objetivo.categoriaObjetivo"></categoria-objetivo-edit>
            </div>

            <div>
                <button type="button" (click)="goBack()" class="btn btn-default">Voltar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>
</div>

<!--TODO: Remover Informações de Depuração -->
<strong>this.objetivo:</strong> {{objetivo | json}} <br/>
<strong>form.value:</strong> {{form.value | json}}