<!--<list-view>-->
    <table-data [data]="data">
        <!--<text-field source='escopo.descricao'></text-field>-->
        <text-field source='nome'></text-field>
        <text-field source='descricao'></text-field>
        <boolean-field source='indicadorInternoSistema'></boolean-field>
        <!--<edit-button></edit-button>-->
    </table-data>
<!--</list-view>-->


<!--<categoria-objetivo-edit>
    <simple-form>
        <text-input name='nome'></text-input>
        <text-input name='descricao'></text-input>
        <boolean-input name='indicadorInternoSistema'></boolean-input>
    </simple-form>
</categoria-objetivo-edit>-->

<!--
https://angular.io/docs/ts/latest/cookbook/dynamic-component-loader.html
http://stackoverflow.com/questions/36325212/angular-2-dynamic-tabs-with-user-click-chosen-components/36325468#36325468
https://www.ag-grid.com/ag-grid-angular-aot-dynamic-components/
-->
