<div class="card">
    <div class="card-header">
        <h3 class="card-title">Manter {{entitySchema.label.plural}}</h3>
        <button (click)="gotoEdit(null)" class="btn btn-info">Novo Registro</button>
    </div>

    <div class="card-block">
        <handle-errors [errors]="errors"></handle-errors>

        <!--<div class="ui-widget-header ui-helper-clearfix" style="padding:4px 10px;border-bottom: 0 none">
            <i class="fa fa-search" style="float:left;margin:4px 4px 0 0"></i>
            <input #gb type="text" pInputText size="50" style="float:left" placeholder="Global Filter">
        </div>-->

        <!--<p-dataTable [value]="entityList" [rows]="10" [paginator]="true" [pageLinks]="3"
                     [rowsPerPageOptions]="[5,10,100]" [responsive]="true">
            <p-column *ngFor="let field of entitySchema.listView.fields; let index = index"
                      [field]="[index+1]" [header]="field.label" [editable]="false" [filter]="true" [sortable]="true">
            </p-column>
            <footer>
                <div class="ui-helper-clearfix" style="width:100%">
                    <button type="button" pButton icon="fa-plus" style="float:left" (click)="showDialogToAdd()"
                            label="Add"></button>
                </div>
            </footer>
        </p-dataTable>-->

        <dx-data-grid [dataSource]="entityList"
                      [loadPanel]="{enabled: false}"
                      [columns]="gridColumns"
                      [filterRow]="{visible: true, applyFilter: 'auto'}"
                      [searchPanel]="{visible: true, width: 240}"
                      [headerFilter]="{visible: true}"

                      [groupPanel]="{visible: true}"
                      [allowColumnReordering]="true"
                      [allowColumnResizing]="true"
                      [columnHidingEnabled]="true"
                      [columnAutoWidth]="true"
                      [columnChooser]="{enabled: true}"
                      [columnFixing]="{enabled: true}"

                      [editing]="{mode: 'form', allowUpdating: true, allowDeleting: true, allowAdding: true}"
                      (onRowRemoved)="delete($event.data)"
                      [selection]="{mode: 'multiple'}"
                      [stateStoring]="{enabled: true, type: 'localStorage', storageKey: entityName}"
                      [export]="{enabled: true, fileName: entityName, allowExportSelectedData: true}"
                      [paging]="{pageSize: 10}"
                      [pager]="{showPageSizeSelector: true, allowedPageSizes: [5, 10, 20], showInfo: true}">
            <!--<dxi-column *ngFor="let field of entitySchema.listView.fields; let index = index" [dataField]="[index+1]" caption="{{field.label}}"></dxi-column>-->

            <!--<div *dxTemplate="let cellData of 'phoneCellTemplate'">
                <dx-button (onClick)="callNumber(cellData.value)" [text]="cellData.text"></dx-button>
            </div>-->
        </dx-data-grid>

        <!--<div class="table-responsive">
            <table class="table table-condensed table-hover">
                <thead>
                <tr>
                    <th *ngFor="let field of entitySchema.listView.fields">{{field.label}}</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let entity of entityList">
                    <td *ngFor="let field of entitySchema.listView.fields; let index = index">{{entity[index+1]}}</td>
                    <td>
                        <a href="javascript:void(0)" (click)="gotoEdit(entity)">Editar</a>
                        <a href="javascript:void(0)" (click)="delete(entity)">Excluir</a>
                    </td>
                </tr>
                </tbody>
            </table>
            <div>
                <button (click)="previousPage()" [disabled]="page.number <= 0" class="btn btn-default">
                    <span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
                </button>
                <button (click)="nextPage()" [disabled]="page.number >= page.totalPages-1" class="btn btn-default">
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                </button>
                <span>Total Registros: {{page.totalItens}}</span>
            </div>
        </div>-->
    </div>
</div>