<div class="card">
    <div class="card-header">
        <h3 class="card-title">Editar {{entitySchema.label.singular}}</h3>
        <button (click)="goBack()" class="btn btn-info">Voltar</button>
    </div>

    <div class="card-block">
        <handle-errors [errors]="errors"></handle-errors>

        <form #form="ngForm" (ngSubmit)="save(form.value)">

            <input type="hidden" name="{{entitySchema.id.path}}" [ngModel]="entity[entitySchema.id.path]">

            <div *ngFor="let field of entitySchema.formView.fields" class="form-group">
                <label *ngIf = "field.type != 'hidden'">{{field.label}}:</label>

                <!--TODO: Entender funcionamento do ng-container-->
                <ng-container [ngSwitch]="field.type">
                    <input *ngSwitchCase="'hidden'" type="hidden" name="{{field.path}}" [ngModel]="entity[field.path]">
                    <text-input *ngSwitchCase="'text'" name="{{field.path}}" [ngModel]="entity[field.path]"></text-input>
                    <!--<input *ngSwitchCase="'text'" type="text" name="{{field.path}}" [ngModel]="entity[field.path]" class="form-control" [required]="field.required || false">-->
                    <input *ngSwitchCase="'number'" type="number" step="0.01" name="{{field.path}}" [ngModel]="entity[field.path]" class="form-control" [required]="field.required">
                    <reference-input *ngSwitchCase="'select'" name="{{field.select.value}}" ngModelGroup="{{field.path}}" [ngModel]="entity[field.path] && entity[field.path][field.select.value]" [field]="field" [items]="entityReferences[field.path]"></reference-input>
                </ng-container>
            </div>

            <div>
                <button type="button" (click)="goBack()" class="btn btn-default">Voltar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

    <div class="card-footer text-muted">
        <!--TODO: Remover Informações de Depuração -->
        <strong>this.entity:</strong> {{entity | json}} <br/>
        <strong>form.value:</strong> {{form.value | json}}
    </div>
</div>

