/*FORMS*/

.ng-valid[required] {
    border-left: 5px solid #42A948; /* green */
}

.ng-invalid {
    border-left: 5px solid #a94442; /* red */
}

/*TREEGRIDS*/

.expanded .row-expand:before {
    content: "\e259"; /*.glyphicon-menu-down*/
}

.row-expand:before {
    content: "\e258"; /*.glyphicon-menu-right*/
}

.row-expand.level-1 {
    margin-left: 10px;
}

.row-expand.level-2 {
    margin-left: 20px;
}

.row-expand.level-3 {
    margin-left: 30px;
}

.row-expand.level-4 {
    margin-left: 40px;
}

.row-expand.level-5 {
    margin-left: 50px;
}

.row-expand.level-6 {
    margin-left: 60px;
}

.row-expand.level-7 {
    margin-left: 70px;
}

.row-expand.level-8 {
    margin-left: 80px;
}

.row-expand.level-9 {
    margin-left: 90px;
}

.row-expand.level-10 {
    margin-left: 100px;
}