<div class="page-content">
    <md-card class="page-card">
        <md-card-title>
            <span>Manter {{entityName | translate}}</span>
            <a class="card-title-menu" md-ripple [md-menu-trigger-for]="cardTitleMenu">
                <i class="material-icons">more_vert</i>
            </a>
            <md-menu #cardTitleMenu="mdMenu">
                <button md-menu-item>Ação 1</button>
                <button md-menu-item>Ação 2</button>
                <button md-menu-item>Ação 3</button>
            </md-menu>
        </md-card-title>
        <md-card-content>
            <datagrid [entityName]="entityName" (onEdit)="gotoEdit($event)"></datagrid>
        </md-card-content>
    </md-card>
</div>